In [1]:
# Load relevant libraries
import pandas as pd
import numpy as np
import matplotlib
import folium
import geocoder
from tqdm import tqdm
%pylab inline
pylab.rcParams['figure.figsize'] = (10, 8)

Populating the interactive namespace from numpy and matplotlib

In [2]:
# Import pandas
import pandas as pd

# Assign url of file: url
url = 'http://ckan.imd.ufrn.br/dataset/8190fe9a-9766-406d-8cb1-52aa3d59a924/resource/44ed2dbc-918e-438f-8b09-963e66471844/download/alunos-que-utilizam-transporte-escolar.csv'

# Read file into a DataFrame and print its head
df = pd.read_csv(url)
df.head(10)

,Estabelecimento,Educação Infantil,Ensino Fundamental,EJA
0,CMEI PROFA MARIA ITACIRA BENTO,5,0,0
1,CMEI PROFA MARIA LUIZA SANTOS DE SOUZA,49,0,0
2,CMEI PROFA MARIA SALETE ALVES BILA,99,0,0
3,CMEI PROFA TELMA REJANE MOURA FREIRE,1,0,0
4,ESC MUL ESTUDANTE EMMANUEL BEZERRA,0,346,21
5,ESC MUL JOÃO XXIII,0,15,0
6,ESC MUL JUVENAL LAMARTINE,15,183,0
7,ESC MUL MONSENHOR JOSÉ ALVES LANDIM,0,98,0
8,ESC MUL PROF ARNALDO MONTEIRO BEZERRA,32,128,0
9,ESC MUL PROF ASCENDINO DE ALMEIDA,0,313,0